.container920 {
  width: 100%;
  color: #333;
  font-family: Questrial-Regular;
  text-align: left;
}
.container920 h3,
.container920 p {
  margin: 0;
  padding: 0;
}
.container920 a {
  display: block;
  color: #333;
  text-decoration: none;
}
.container920 img {
  width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}
.container920 > div {
  width: 100%;
  margin-bottom: 80px;
}
.container920 .title {
  margin-bottom: 30px;
}
.container920 .title {
  text-align: center;
}
.container920 .title .headline {
  font-size: 4em;
}
.container920 .title .message {
  font-size: 1.125em;
}
@media screen and (max-width: 1024px) {
  .container920 .title .headline {
    font-size: 3em;
  }
}
@media screen and (max-width: 768px) {
  .container920 .title .headline {
    font-size: 2em;
  }
}
.container920 .sub-container {
  overflow: hidden;
}
.container920 .sub-container .description h3 {
  line-height: 0.8em;
  margin-top: 5%;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1.2em;
}
.container920 .sub-container .description p {
  margin-top: 1%;
  line-height: 1.2em;
  font-size: 0.9375em;
  font-weight: 100;
}
.container920 .sub-container .description a {
  margin-top: 16px;
  color: #fff;
  font-size: 1em;
  line-height: 0.8em;
}
.container920 .sub-container .description a:hover {
  color: #C1A446;
}
@media screen and (max-width: 1200px) {
  .container920 .sub-container .description h3 {
    font-size: 2em;
  }
}
@media screen and (max-width: 1024px) {
  .container920 .sub-container .description h3 {
    font-size: 1.5em;
  }
  .container920 .sub-container .description p {
    font-size: 0.6em;
  }
  .container920 .sub-container .description a {
    font-size: 0.9em;
  }
}
.container920 .sub-container:nth-of-type(2) {
  background-color: #562211;
}
.container920 .sub-container:nth-of-type(2) .left {
  position: relative;
  float: left;
  width: 50%;
  color: #fff;
}
.container920 .sub-container:nth-of-type(2) .left .box {
  width: 60%;
  padding-top: 10%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-align: left;
}
.container920 .sub-container:nth-of-type(2) .right {
  float: right;
  width: 50%;
}
.container920 .sub-container:nth-of-type(2) .right img {
  width: 100%;
  height: auto;
}
.container920 .sub-container:nth-of-type(3) {
  background-color: #562211;
}
.container920 .sub-container:nth-of-type(3) .left {
  float: left;
  width: 55%;
}
.container920 .sub-container:nth-of-type(3) .left a {
  float: left;
  width: 50%;
}
.container920 .sub-container:nth-of-type(3) .left a img {
  width: 100%;
}
.container920 .sub-container:nth-of-type(3) .right {
  position: relative;
  float: right;
  width: 45%;
  color: #fff;
}
.container920 .sub-container:nth-of-type(3) .right .box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 70%;
  padding-top: 20%;
  text-align: left;
}
.container920 .sub-container:nth-of-type(4) {
  position: relative;
}
.container920 .sub-container:nth-of-type(4) .left {
  float: left;
  width: 50%;
  background-color: #f00;
}
.container920 .sub-container:nth-of-type(4) .left .box {
  width: 50%;
  position: absolute;
  bottom: 0;
}
.container920 .sub-container:nth-of-type(4) .left .box .description {
  padding-left: 10%;
  width: 80%;
}
.container920 .sub-container:nth-of-type(4) .left .box .description a {
  color: #333;
}
.container920 .sub-container:nth-of-type(4) .left .box .description a:hover {
  color: #C1A446;
}
.container920 .sub-container:nth-of-type(4) .left .box .pic2 {
  margin-top: 40px;
  overflow: hidden;
}
.container920 .sub-container:nth-of-type(4) .left .box .pic2 a {
  width: 50%;
  float: left;
}
.container920 .sub-container:nth-of-type(4) .right {
  float: right;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .container920 .sub-container:nth-of-type(4) .left .box .pic2 {
    margin-top: 35px;
  }
}
@media screen and (max-width: 940px) {
  .container920 .sub-container:nth-of-type(4) .left .box .pic2 {
    margin-top: 20px;
  }
}
.container920 .sub-container:nth-of-type(5) {
  box-sizing: border-box;
  padding: 3.5% 0;
  background-color: #6b6e37;
  color: #fff;
}
.container920 .sub-container:nth-of-type(5) .top {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.container920 .sub-container:nth-of-type(5) .top div:first-of-type {
  float: left;
  width: 43.75%;
}
.container920 .sub-container:nth-of-type(5) .top div:first-of-type .description {
  width: 40%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.container920 .sub-container:nth-of-type(5) .top div:first-of-type .description h3 {
  margin-top: 0;
}
.container920 .sub-container:nth-of-type(5) .top div:first-of-type .description a:hover {
  color: #C1A446;
}
.container920 .sub-container:nth-of-type(5) .top div:last-of-type {
  float: right;
  width: 56.25%;
}
.container920 .sub-container:nth-of-type(5) .top div:last-of-type img {
  float: left;
  width: 50%;
}
.container920 .sub-container:nth-of-type(5) .bottom {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
}
.container920 .sub-container:nth-of-type(5) .bottom > div:first-of-type {
  float: left;
  margin-right: 5.55%;
  width: 66.66%;
}
.container920 .sub-container:nth-of-type(5) .bottom > div:first-of-type a {
  float: left;
  width: 33.33%;
}
.container920 .sub-container:nth-of-type(5) .bottom div:last-of-type {
  float: right;
  width: 27.79%;
}
.container920 .sub-container:nth-of-type(5) .bottom div:last-of-type .description {
  position: absolute;
  top: 50%;
  width: 27.79%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.container920 .sub-container:nth-of-type(5) .bottom div:last-of-type .description h3 {
  margin-top: 0;
}
.container920 .sub-container:nth-of-type(6) {
  background-color: #6b6e37;
  color: #fff;
  position: relative;
}
.container920 .sub-container:nth-of-type(6) .left {
  width: 30%;
  position: absolute;
  left: 5%;
  top: 5%;
}
.container920 .sub-container:nth-of-type(6) .left .box .pic2 {
  overflow: hidden;
}
.container920 .sub-container:nth-of-type(6) .left .box .pic2 a {
  float: left;
  width: 50%;
}
.container920 .sub-container:nth-of-type(6) .right {
  float: right;
  width: 60%;
}
@media screen and (max-width: 800px) {
  .description h3 {
    margin-top: 6px;
  }
}
.container920 .sub-container:nth-of-type(7) {
  overflow: hidden;
}
.container920 .sub-container:nth-of-type(7) div {
  float: left;
  width: 32%;
}
.container920 .sub-container:nth-of-type(7) div:nth-of-type(1) {
  margin-right: 2%;
}
.container920 .sub-container:nth-of-type(7) div:nth-of-type(2) {
  margin-right: 2%;
}
.container920 .sub-container:nth-of-type(7) div .description {
  width: 100%;
}
.container920 .sub-container:nth-of-type(7) div .description h3 {
  margin-top: 23px;
  font-size: 2em;
}
.container920 .sub-container:nth-of-type(7) div .description p {
  width: 90%;
}
.container920 .sub-container:nth-of-type(7) div .description a {
  color: #333;
}
.container920 .sub-container:nth-of-type(7) div .description a:hover {
  color: #C1A446;
}
@media screen and (max-width: 1024px) {
  .container920 .sub-container:nth-of-type(7) div .description {
    width: 100%;
  }
  .container920 .sub-container:nth-of-type(7) div .description h3 {
    margin-top: 16px;
    font-size: 1.5em;
  }
  .container920 .sub-container:nth-of-type(7) div .description p {
    width: 90%;
  }
  .container920 .sub-container:nth-of-type(7) div .description a {
    color: #333;
  }
  .container920 .sub-container:nth-of-type(7) div .description a:hover {
    color: #C1A446;
  }
}
.container920 .sub-container:nth-of-type(8) {
  overflow: hidden;
}
.container920 .sub-container:nth-of-type(8) div {
  float: left;
  width: 49.5%;
}
.container920 .sub-container:nth-of-type(8) div:nth-of-type(1) {
  margin-right: 1%;
}
.container920 .sub-container:nth-of-type(8) div .description {
  width: 100%;
}
.container920 .sub-container:nth-of-type(8) div .description h3 {
  margin-top: 23px;
  font-size: 2em;
}
.container920 .sub-container:nth-of-type(8) div .description p {
  width: 90%;
}
.container920 .sub-container:nth-of-type(8) div .description a {
  color: #333;
}
.container920 .sub-container:nth-of-type(8) div .description a:hover {
  color: #C1A446;
}
@media screen and (max-width: 1024px) {
  .container920 .sub-container:nth-of-type(8) div .description {
    width: 100%;
  }
  .container920 .sub-container:nth-of-type(8) div .description h3 {
    margin-top: 16px;
    font-size: 1.5em;
  }
  .container920 .sub-container:nth-of-type(8) div .description p {
    width: 90%;
  }
  .container920 .sub-container:nth-of-type(8) div .description a {
    color: #333;
  }
  .container920 .sub-container:nth-of-type(8) div .description a:hover {
    color: #C1A446;
  }
}
/* @media screen and (min-width: 768px) {
    .description-mb {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .description-mb {
        display: block;
    }
    .container920 .sub-container:nth-of-type(2) {
        .left {
            display: none;
        }
        .right {
            width: 100%;
        } 
    }
} */
